---
import Table from './Table.astro'
---

<section class='projects'>
  <header>
    <h2>projects</h2>
  </header>

  <Table />
</section>

<style>
  .projects {
    overflow: auto !important;
  }

  @media only screen and (min-width: 1050px) and (max-width: 1500px) {
    .projects {
      grid-column: 1/3;
    }
  }
  @media only screen and (min-width: 1500px) {
    .projects {
      grid-column: 1/4;
    }
  }
</style>
