<section class='search-item'>
  <header>
    <h2>top search items</h2>
  </header>
  <section>
    <h2>keyword</h2>
    <p>search count</p>
  </section>
  <section>
    <h2>programming</h2>
    <p>220</p>
  </section>
  <section>
    <h2>javascript</h2>
    <p>180</p>
  </section>
  <section>
    <h2>PHP</h2>
    <p>160</p>
  </section>
  <section>
    <h2>code</h2>
    <p>145</p>
  </section>
  <section>
    <h2>data stracture</h2>
    <p>110</p>
  </section>
  <section>
    <h2>logic</h2>
    <p>95</p>
  </section>
</section>

<style>
  .search-item {
    display: grid;
    gap: 20px;
  }
  .search-item > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-item > section:nth-of-type(1) {
    text-transform: capitalize;
    color: var(--second-font-color);
  }
  .search-item > section > h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: normal;
  }
  .search-item > section:not(:nth-of-type(1)) > p {
    background: var(--third-bg);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
</style>
