<section>
  <header>
    <div class='left'>
      <h2>welcome</h2>
      <p>abdullah</p>
    </div>
    <div class='right'>
      <img src='/welcome.png' alt='' />
    </div>
  </header>

  <div class='img'>
    <img src='/avatar.webp' alt='' />
  </div>

  <section>
    <div>
      <h2>abdullah sameh</h2>
      <p>developer</p>
    </div>
    <div>
      <h2>30</h2>
      <p>projects</p>
    </div>
    <div>
      <h2>00$</h2>
      <p>earned</p>
    </div>
  </section>

  <button class='border-radius'>Profile</button>
</section>

<style>
  section {
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--third-bg);
  }
  header h2 {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--main-font-color);
  }
  header p {
    color: var(--second-font-color);
    text-transform: capitalize;
  }
  div.img {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 600px) {
    div.img {
      flex-direction: row-reverse;
    }
  }
  header img:nth-child(1) {
    width: 200px;
  }
  .img img {
    width: 70px;
    border: 4px solid var(--main-bg);
    margin-top: -35px;
    margin-left: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .img + section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-top: 1px solid var(--third-bg);
    border-bottom: 1px solid var(--third-bg);
    margin: 20px 0;
  }
  .img + section h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
  }
  .img + section p {
    color: var(--second-font-color);
  }
  button {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
    header img {
      display: none;
    }
    img {
      margin-left: calc(50% - 35px);
    }
    img + section {
      flex-direction: column;
      gap: 10px;
    }
    img + section > div > h2 {
      margin-bottom: 5px;
    }
  }
</style>
